* {
    box-sizing: border-box;
}

:root {
    --primary-color: #37246b;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    background: #fffaf5;
}

/* Common */
a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Sora", sans-serif;
    color: #37246b;
}

input,
textarea,
select,
button {
    font-size: inherit;
    font-family: inherit;
}

.page-section {
    position: relative;
    padding-top: clamp(50px, 5.20833333vw, 100px);
    padding-bottom: clamp(50px, 5.20833333vw, 100px);
}

.container-small {
    padding: 0 35px;
}

.section-intro {
    margin-bottom: clamp(30px, 3.125vw, 60px);
}

.text-center {
    text-align: center !important;
}

.section-title {
    margin: 7px 0 0;
    font-weight: 700;
    font-size: 3.6rem;
}

.justify-content-center {
    -ms-flex-pack: center !important;
    justify-content: center !important;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

/* Top header */
.header-content {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 1;
}

.top-header {
    height: 42px;
    background-color: var(--primary-color);
    padding: 5px 0;
}

.top-header .container {
    max-width: 1680px;
    padding-left: clamp(20px, 2.60416667vw, 50px);
    padding-right: clamp(20px, 2.60416667vw, 50px);
    width: 100%;
    margin: 0 auto;
}

.top-header,
.top-header-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.top-menu {
    display: flex;
    transition: all 0.3s;
}

.top-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.top-menu ul li {
    display: inline-block;
    margin-right: clamp(20px, 1.5625vw, 30px);
    transition: all 0.3s ease-in-out;
}

.top-menu ul li a {
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    display: block;
}

.top-menu ul li a:hover {
    color: #00b2e3;
}

.top-menu ul li ul {
    display: none;
}

.top-menu ul li.current_page_item > a,
.top-menu ul li.current-menu-parent > a {
    color: #00b2e3;
}

.top-menu.is-blur {
    opacity: 0;
}

.top-header-search .icon-cta i {
    position: relative;
}

.top-header-search .icon-cta i:before {
    transition: all 0.3s;
}

.top-header-search .icon-cta i:after {
    content: "\f00d";
    transition: all 0.3s;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    text-align: center;
}

.fa-search__icon {
    width: 20px;
    height: 20px;
    font-family: "font awesome 5 pro";
    font-weight: 300;
    color: #fff;
    transition: all 0.3s ease-in-out;
}

.fa-search__icon:hover {
    transform: scale(1.3);
    cursor: pointer;
}

/* Main header */
.main-header {
    height: 84px;
    display: flex;
    padding: 16px 20px;
    align-items: center;
    justify-content: space-between;
    background: #fff;
}

.main-header-wrapper {
    display: flex;
    align-items: center;
}

.main-header .logo {
    max-width: 95px;
    height: auto;
    margin-left: 30px;
}

.logo:hover {
    cursor: pointer;
}

.header-menu .main-menu-container > ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin-left: 30px;
}

.header-menu .main-menu-container > ul a {
    display: flex;
    padding: 10px 10px 10px;
    align-items: center;
    justify-content: space-between;
    color: #463969;
}

.header-menu .main-menu-container > ul a:hover {
    border-bottom: 3px solid var(--primary-color);
    color: #00b2e3;
}

.banner {
    display: inline-block;
    margin-top: 127px;
    padding: 99px 0;
    width: 100%;
    height: 502px;
    background: url(../img/John-Mark-1920x1280.jpg);
    background-size: cover;
    background-position-y: center;
    text-align: center;
}

.banner__title {
    display: block;
    width: 975px;
    height: 125px;
    margin: 0 auto 0;
    font-weight: 800;
    font-size: 6rem;
    line-height: 1;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.77);
    color: #fff;
    overflow: hidden; /* To hide overflowing text */
    animation: slideIn 2s forwards; /* Specify animation name and duration */
}

@keyframes slideIn {
    from {
        transform: translateX(-100%); /* Start from the left outside the viewport */
    }
    to {
        transform: translateX(0); /* Move to the center */
    }
}

.banner__desc {
    display: inline-block;
    margin-top: 30px;
    width: 975px;
    height: 89px;
    font-size: 1.6rem;
    line-height: 1.6;
    color: #fff;
    opacity: 0; /* Initial opacity set to 0 */
    animation: slideInDesc 2s forwards; /* Specify animation name and duration */
    animation-delay: 1s; /* Delay the animation by 2 seconds */
}

@keyframes slideInDesc {
    from {
        transform: translateY(100%);
        opacity: 0; /* Start from the bottom and invisible */
    }
    to {
        transform: translateY(0);
        opacity: 1; /* Move to the original position and become visible */
    }
}

.banner__desc-strong {
    font-size: 1.8rem;
    font-weight: bolder;
}

.banner__cta {
    width: 370px;
    height: 46px;
    margin: 28px 0 0;
    padding: 12px 28px;
    border-radius: 99px;
    background: #00b2e3;
    border: none;
    color: #fff;
    opacity: 0; /* Initial opacity set to 0 */
    animation: fadeInUp 1.5s forwards; /* Specify animation name and duration */
    animation-delay: 2s; /* Delay the animation by 3 seconds */
}

@keyframes fadeInUp {
    from {
        transform: translateY(20px);
        opacity: 0; /* Start slightly below and invisible */
    }
    to {
        transform: translateY(0);
        opacity: 1; /* Move to the original position and become visible */
    }
}

.banner__cta-link {
    color: #fff;
}

.banner__cta:hover {
    background: #fff;
    border-bottom: 4px solid #00b2e3;
    cursor: pointer;
}

.banner__cta:hover .banner__cta-link {
    color: #00b2e3;
}

/* Show me how */
.show-me {
    background: #ececf0;
    padding: 72px 0;
}

.show-me__inner {
    padding: 0 35px;
    text-align: center;
}

.show-me__small-title {
    width: 1089px;
    height: 62px;
    font-weight: bolder;
    font-size: 2.6rem;
    margin-left: auto;
    margin-right: auto;
}

.show-me__desc {
    width: 970px;
    height: 75px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.8rem;
}

.container-small {
    max-width: 1500px;
}

.card-column {
    width: 405px;
    height: 469px;
    display: flex;
    margin: 0 15px 30px;
    flex-wrap: wrap;
    background: var(--primary-color);
}

.card-item__img {
    width: 100%;
    height: 275px;
    transition: all 0.3s ease-in-out;
}

.card-item__img:hover {
    transform: scale(1.008);
}

.card-item__down {
    display: block;
    width: 405px;
    height: 194px;
    padding: 15px 25px;
}

.card-item__uppercase {
    font-weight: 600;
    font-size: 1.8rem;
    color: #fff;
}

.card-item__subtitle {
    font-weight: 400;
    margin: 15px 0 0;
    font-size: 1.5rem;
    color: #fff;
}

.card-item__arrow {
    width: 355px;
    height: 83px;
    margin: 22px 0 0;
    padding: 20px 0 10px;
    font-size: 6rem;
    background: var(--primary-color);
}

.card-item__arrow-fal {
    display: block;
    width: 33px;
    height: 53px;
    color: #00b2e3;
}
